body {
    color: $scuro;
    font-family: 'Open Sans', sans-serif;
} 
/* Colori */
.bianco {
    color: $bianco;
}
.giallo {
    color: $giallo;
}
.blu {
    color: $blu;
}
.rosso {
    color: $rosso;
}
.verde {
    color: $verde;
}
.bg-rosso {
    background: $rosso;
}
.bg-blu {
    background: $blu;
}
.bg-giallo {
    background: $giallo;
}
.bg-verde {
    background: $verde;
}
/* //Colori */

/* Margini */
.margin-l-auto {
    margin-left: auto!important;
}
.margin-r-auto {
    margin-right: auto!important;
}
.margin-b-none {
    margin-bottom: 0;
}
.margin-v-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.margin-v-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.margin-o-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}
.margin-o-auto {
    margin-left: auto;
    margin-right: auto;
}
/* //Margini */

/* Pulsanti */
.btn {
    background: $giallo;
    padding: 0.8rem 2.8rem;
    border-radius: 2.8rem;
    color: $bianco;
    text-transform: uppercase;
    font-weight: bold;
    align-self: center;
    transition: all ease 0.2s;

    &.bordo {
        border: 2px solid $bianco;
    }

    &.rosso {
        background: $rosso;
        color: $bianco;
    }

    &.verde {
        background: $verde;
        color: $bianco;
    }

    &.blu {
        background: $blu;
        color: $bianco;
    }
}
/* //Pulsanti */

/* Tipografia */
p {
    font-size: 1.2rem;
}

.f-s-xxl {
    font-size: 2rem;
}
.f-s-xl {
    font-size: 1.4rem;
}
.f-s-l {
    font-size: 1.2rem;
}
.f-s-m {
    font-size: 1rem;
}
.f-s-s {
    font-size: 0.8rem;
}
.f-s-xs {
    font-size: 0.6rem;
}

.pacifico {
    font-family: 'Pacifico';
    font-weight: normal;
}
.f-bold {
    font-weight: bold;
}
/* //Tipografia */

/* Elementi */
.titolo {
    font-size: 2rem;
}
.pre-titolo {
    font-size: 1.4rem;
    &:after, &:before {
        content: "-";
        margin: 0 0.5rem;
    }
}
.wrapper-title {
    margin: 0 auto;
    text-align: center;
}
main {
    overflow-x: hidden;
}
/* //Elementi */

@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans-Light.ttf");
}
@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: 'Pacifico';
    src: url("../fonts/Pacifico-Regular.ttf");
}